[Unit]
Description=Zenux automount service
After=local-fs.target

[Service]
ExecStart=/usr/bin/zenux-automount
Type=simple

[Install]
WantedBy=multi-user.target
